<h1 class="display-1 text-center">Szimba Állatkert</h1>
<div class="row text-center my-5 py-5">
    <div class="col">
        <a routerLink="/allataink" class="btn btn-primary">Állataink</a>
    </div>
    <div class="col">
        <button (click)="ujAllat()" type="button" class="btn btn-warning">Új lakó felvétele</button>
    </div>
</div>
<p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ex illo voluptatem! Velit esse numquam deserunt iste debitis odio assumenda voluptatum temporibus sint dolorum, enim, impedit quo quisquam perferendis ea et nisi odit, non molestiae laborum illo? Iusto tempora fuga consectetur recusandae molestias suscipit. Autem soluta reprehenderit veniam adipisci necessitatibus quaerat unde et laborum, facilis at odio similique aut! Ullam, ipsum? Magni omnis, ducimus ipsum at, quod placeat facilis aperiam, minus tenetur quibusdam praesentium repudiandae. Labore blanditiis rem expedita maxime?
</p>
<p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ex illo voluptatem! Velit esse numquam deserunt iste debitis odio assumenda voluptatum temporibus sint dolorum, enim, impedit quo quisquam perferendis ea et nisi odit, non molestiae laborum illo? Iusto tempora fuga consectetur recusandae molestias suscipit. Autem soluta reprehenderit veniam adipisci necessitatibus quaerat unde et laborum, facilis at odio similique aut! Ullam, ipsum? Magni omnis, ducimus ipsum at, quod placeat facilis aperiam, minus tenetur quibusdam praesentium repudiandae. Labore blanditiis rem expedita maxime?
</p>